* {
    padding: 0%;
    margin: 0%;
}
body
{
    width:1920px;
    height:1080px;
}
input{
    height:39px;
}
.right {
  background: #EBEBEB;
}
.addUser {
  display: inline-block;
  min-height: 300px;
  min-width:800px;

}
.menu {
  
  height: 100%;
  width: auto;
  background: #EBEBEB;
  border-radius: 40px;
}
.addUser .menu {
    padding:10px 20px;
}
.button {
    display: inline-flex;
    border: 2px solid blue;
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:white;
}
.button:hover {
    background: blue;
    color: white;
}

.button:active {
    background: blue;
    box-shadow: 0 100px #ED1C24 inset;
}

