html, body {
  
  font-family: 'ROBOTO' !important;
}
td{
    width: 100px;
    text-align: center;
}
.closemodal{
display: none;
}

.modal {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    
  }

.tab-container{
  
  width: 100%;
  display: inline-block;
  position: relative;
  padding-left: 50px;
}
.napominanie{
  background-image: url("napom.svg");
  display: inline-block;
  width: 35px;
  height: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
    position: relative;
    margin-top: 26px;
    margin-left: 48px;
}
.tablenapom{
  top: 5%;
   
    height: 100px;
    width: 400px;
    position: relative;
    border-radius: 40px;
    background-color: white;
    border: 2px solid black;
}
.text1{
  position: absolute;
  width:90px;
  height: 23px;
  margin-left: 108px;
  margin-top: 19px;
  size:20px;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-style: normal;
  font-weight: bolder;
  line-height: 23px;
}
.text2{
  position: absolute;
  height: 23px;
  margin-left: 108px;
  margin-top: 52px;
  size: 16px;
  font-family: 'Roboto';
  font-style: normal;
  line-height: 19px;
}
.container-page{
  height: 100%;
  width: 100%;
  display: flex;
  
}.tab-2{
  height:100%;
  width:100%;
}
.months {
height: 80%;
position: relative;
display: inline-block;
width: 100%;
overflow-y: auto;
overflow-x: hidden;
}

.calend{
  margin-left: -3%;
  margin-top: 3%;
}
.razdleft{
  position: relative; width: 40%; height:100%; background: #EBEBEB;  float: left; display: inline-block; padding-left: 93px;
}
.razdright{
  position: relative;  width: 60%; height:100%; background: #FBFBFB; display: inline-block; float: left;

}
@font-face {
  font-family: Roboto;
  src: url("../Roboto-Black.ttf");
}
