<app-navigation (eventMode)="switchModeParent($event)"></app-navigation>
<div class="container-page">  
    <div class="tab-container">
      <div class="tab-2" *ngIf="tab==1">
        <div class="razdleft">
          <div class="calend"><p-calendar [(ngModel)]="value2" selectionMode="multiple" [inline]="true" [readonlyInput]="true" ></p-calendar></div>
          <div class="tablenapom">
            <div class="napominanie"></div>
            <p class="text1">Сегодня</p>
            <p class="text2">{{this.currentImenina}}</p>
          </div>
        </div>
        <div class="razdright">
          <div *ngIf="showdetailuser"><detailuser [userid]="userid"></detailuser></div>
          <rating (selectName)="selectName($event)"></rating>
          <app-help></app-help>
          </div>
        </div>
          <div *ngIf="tab==2" class="tab-2">
              <div class="months">
                  <div *ngFor="let item of months; let i = index" class="small-conteiner-calendar">

                      <p-calendar [(ngModel)]="months[i]" dateFormat="dd.mm.yyyy" [inline]="true" styleClass="small-calendar"></p-calendar>
                  </div>
              </div>
          </div>
          <div class="tab-2" *ngIf="tab==3">
            <div *ngIf="showdetailuser">
              <detailuser [userid]="userid" [admin]="tab"></detailuser>
            </div>
            <menu-comp (selectName)="selectName($event)"></menu-comp>
          </div>
    </div>
</div>
