<table style="border: solid; cursor:pointer; background-color: aqua;">
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th>Юбилей</th>
      <th>Дата рождения</th>
      <th>Кол-во дней до др</th>
    </tr>
    
 
    <tr *ngFor="let item of list; let i = index" >
    <td>
    {{i+1}}
    </td>
    <td>
      <div (click)="openDetailUser(item.number)">{{item.name}}</div>
      </td>
      <td>
        <div *ngIf="item.ubiley">Юбилей </div>
        
      </td>
      <td>
        {{item.day}}
        </td>
        <td>
          {{item.days}}
          </td>
  </tr>

    </table>
    <p-table [value]="list">
      <ng-template pTemplate="header">
          <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Юбилей</th>
            <th>Дата рождения</th>
            <th>Кол-во дней до др</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
          <tr>
              <td>{{car}}</td>
              <td>{{car.name}}</td>
              <td>
                <div *ngIf="car.ubiley">Юбилей </div>
                
              </td>
              <td>{{car.day}}</td>
              <td>{{car.days}}</td>
          </tr>
      </ng-template>
  </p-table>
  