<table class="modal modal-detail" id="modal" style="display: absolute; top: 51%; width: 500px; left: 51%; z-index: 100;" (eventMode)="switchModeParent($event)" >
  <tr>
      <button (click)="closemodal()" class="button" style="float: right; margin-left: 68%;">X</button>
      <div *ngIf="admin!=3">
          <p style=""><th>Имя:{{userid.user_name}}</th></p>
          <p><th>Дата рождения:{{userid.user_bday}}</th></p>
          <p><th>Что дарили:</th></p>
          <p><th>Нрав:</th></p>
          <p><th>Не нрав:</th></p>
      </div>
      <div *ngIf="admin==3">
          <p>
              <th>
                  <p>
                      <th>
                          <span class="p-float-label">
                          <input type="text" pInputText #fio size="32" value="{{userid.user_name}}" />
                          <label for="float-input">ФИО:</label>
                          </span>
                      </th>
                  </p>
                  <p><th>
                       <span class="p-float-label">
                         <input type="text" pInputText #bday size="32" value="{{userid.user_bday}}" />
                         <label for="float-input">Дата рождения:</label>
                       </span>
</th></p>
                  <p><th>Что дарили:</th></p>
                  <p><th>Нрав:</th></p>
                  <p><th>Не нрав:</th></p>
                  <button class="button" (click)="updateUser(userid.id,fio.value,bday.value,'')">Изменить</button>
                  <button (click)="deleteUser(userid.id)" class="button">Удалить</button>
              </th>
          </p>
      </div>
  </tr>
 </table>
