/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
  font-family: 'ROBOTO'!important;
}
@font-face {
  font-family: Roboto;
  src: url("Roboto-Black.ttf");
}
