.help {

  font-family: Arial;
  
}

.mark {
  width: 10px;
  margin-left: 90%;
}

.text {
  width: 240px;
  color: #3667B1;
    line-height: 30px;
    display: inline-block;
    top: 1%;
    left: 35%;
    position: absolute;
}
.staricon{
  background-image: url("star.svg");
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
    position: absolute;
    top: 0%;
    margin-left: 32%;
}


